body {color: rgb(102, 9, 9);
    background: rgb(29, 28, 28);
    margin: 20px;
}

header {
    border: solid 10px rgb(2, 255, 2);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 195, 255);}
    .chamada {

        background: rgb(140, 148, 127);
        padding-bottom: 30px;
        padding-top:30px;
        display:flex;
        justify-content: center;
    } 
    .chamada-texto{ 
          margin-right: 5%;  

    }
    h1{
        font-size: 60px;
        color:black;
    }

    p {
        font-size: 30px;
        color:rgb(0, 85, 45)

    }
    h2{    
        font-size: 40px;
        color:rgb(2, 6, 245)
    }

img {
    height: 200px;
}

.categoria-videos{
    display: flex;
overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;

}
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(22, 147, 219)
}